@import "tailwindcss";

.bg-primary {
  background-color: var(--primary-color, #a52148); 
}

.text-primary {
  color: var(--primary-color, #a52148);
}

.border-primary {
  border-color: var(--primary-color, #a52148);
}

:root {
  --primary-color: #a52148;
}